<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ProjectOnHomeShop</title>
    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/homeshopstylesheet.css" rel="stylesheet" />
</head>


<body>
    @*---------------------------------------------------------------------------------HeaderPart*@
    <div class="navigation">
        <nav class="navbar ">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">The Home Shop</a>
                </div>
                <ul class="nav navbar-nav menu-divider">
                  
                    <li class="active"><a href="#" class="navigationancor">Buy</a></li>
                    <li>|</li>
                    <li><a href="#" class="navigationancor">Rent</a></li>
                    <li>|</li>
                    <li><a href="#" class="navigationancor">Find a Agent</a></li>
                    <li>|</li>
                    <li><a href="#" class="navigationancor">Services</a></li>
                    <li>|</li>
                    <li><a href="#" class="navigationancor">Sell/Let</a></li>
                    <li>|</li>
                </ul>
                <ul class="nav navbar-nav navbar-right menu-divider">
                    <li><a href="#" class="navigationancor">Free Valuation</a></li>
                    <li>|</li>
                    <li><a href="#" class="navigationancor">Sale For Free</a></li>
                    <li>|</li>
                    <li><a href="#" class="navigationancor">Let For Free</a></li>
                  
                    <li><a href="#" class="navigationancor"><i class="fa fa-user-o" aria-hidden="true"></i></a></li>
                    
                </ul>
            </div>
        </nav>
    </div>
    @*---------------------------------------------------------------------------------Header end*@



     @RenderBody()
 


    @*--------------------------------------------------------------------------------footer start*@
   
       

     
           
               
                    <div class="bottomdesign">
                        <div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <h4> The HouseShop:</h4>
                                <ul>
                                    <li> We are affordable consumer friendly website which gives you everything you need to take control of Selling or renting your property.</li>
                                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i>Contact@thehouseshop.com</li>
                                    <li>Houses For Sale.</li>
                                    <li>Houses For Rent.</li>
                                </ul>
                               
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <h4> Contactinformation</h4>
                                <div>
                                    <ul>
                                        <li>About us</li>
                                        <li>Contact Us</li>
                                        <li>Testimonials</li>
                                        <li>In The Press</li>
                                        <li>Press Center</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div>
                                    <h4>Blog News</h4>
                                </div>
                                <div>
                                    <ul>

                                        <li>A/W color trends 2016</li>
                                        <li>This week's hottest Property stories 15.09.16</li>
                                        <li>A Country of Roald Dahl </li>
                                        <li>Best Guide Books For Home</li>
                                        <li>Which Food are in Season this Autumn?</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <h4>Professionals & Suppliers</h4>
                                <div>
                                    <p class="parap">Service Provider registration</p>
                                    <ul class="icondesign">
                                        
                                       
                                        <li >
                                            <a href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            </li>
                                        <li >
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            
                                            </li>
                                        <li >
                                           <a href="#">
                                               <i class="fa fa-linkedin"></i>
                                            </a> 
                                            </li>
                                        <li >
                                           <a href="#">
                                               <i class="fa fa-google-plus"></i>

                                           </a>
                                        </li>
                                        <div class=" clearfix"></div>
                                    </ul>

                                </div>
                            </div>
                            <div class=" clearfix"></div>
                        </div>
                        <div>
                           <p class="lastline"> All images are copyright protected &copy; 2014-2016 THS Group Ltd Registered in England,Registration No-09952974</p>
                            <p class="lastline2" >Privacy Policy|Terms & Conditions</p>
                        </div>
                        <div class=" clearfix"></div>
                    </div>

                

           
 
   @*--------------------------------------------------------------------------------footer end*@

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>